.appliance-header {
  margin-top: 2rem;
}

.applianceListAndSelected {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.appliancelist {
  text-align: left;
  border: 1px solid var(--color-text);
  border-radius: 0.5rem;
  background-color: var(--color-navbar);
  margin-bottom: 1rem;
}

.appliancelist p {
  padding: 0 1rem;
}
